<%= render partial: "layouts/header" %>
<div class="main">
  <%= render partial: "layouts/side-bar" %>
  <div class="contents">
    <div class="calendar">
      <div class="calendar-heading">
        <% if @month == 1 %>
          <%= link_to '◀︎', year_month_spends_path(@year - 1, 12), class: "last-month-btn" %>
        <% else %>
          <%= link_to '◀︎', year_month_spends_path(@year, @month - 1), class: "last-month-btn" %>
        <% end %>
        <p id="display-year"><%= @year %></p>年 <p id="display-month"><%= @month %></p>月
        <span id="wday_num"><%= Date.new(@year, @month, 1).wday %></span>
        <% if @month == 12 %>
          <%= link_to '▶︎', year_month_spends_path(@year + 1, 1), class: "next-month-btn" %>
        <% else %>
          <%= link_to '▶︎', year_month_spends_path(@year, @month + 1), class: "next-month-btn" %>
        <% end %>
      </div>
      <div class="spend-sum" id="month-sum">
        合計出費額：<%= 40000 %>円
      </div>
      <div class="show-list">
        <div class="show-box">
          <div class="show-day">
            17日
          </div>
          <div class="show-info">
            <div class="show-date">
              2022-04-17
            </div>
            <div class="category-mark">
              食費
            </div>
            <div class="show-spend">
              1000円
            </div>
            <div class="show-memo">
              寿司屋で外食。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>