<div class="calendar-heading">
  <% if params[:month_id].to_i == 1 %>
    <%= link_to '◀︎', year_month_spends_path(params[:year_id].to_i - 1, 12), class: "last-month-btn" %>
  <% else %>
    <%= link_to '◀︎', year_month_spends_path(params[:year_id].to_i, params[:month_id].to_i - 1), class: "last-month-btn" %>
  <% end %>
  <p id="display-year"><%= params[:year_id] %></p>年 <p id="display-month"><%= params[:month_id] %></p>月
  <span id="wday_num"><%= Date.new(params[:year_id].to_i, params[:month_id].to_i, 1).wday %></span>
  <% if params[:month_id].to_i == 12 %>
    <%= link_to '▶︎', year_month_spends_path(params[:year_id].to_i + 1, 1), class: "next-month-btn" %>
  <% else %>
    <%= link_to '▶︎', year_month_spends_path(params[:year_id].to_i, params[:month_id].to_i + 1), class: "next-month-btn" %>
  <% end %>
</div>
<div class="spend-sum">
  合計出費額：<%= @sum %>円
</div>

<div class="calendar-main">
  <div class="wdays">
    <div class="wday">日</div>
    <div class="wday">月</div>
    <div class="wday">火</div>
    <div class="wday">水</div>
    <div class="wday">木</div>
    <div class="wday">金</div>
    <div class="wday">土</div>
  </div>
  <div class="dates">
    <div class="row">
      <div class="date row_1"></div>
      <div class="date row_1"></div>
      <div class="date row_1"></div>
      <div class="date row_1"></div>
      <div class="date row_1"></div>
      <div class="date row_1"></div>
      <div class="date row_1"></div>
    </div>
    <div class="row">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
    </div>
    <div class="row">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
    </div>
    <div class="row">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
    </div>
    <div class="row">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
    </div>
    <div class="row">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
    </div>
  </div>
</div>

<% @each_sums.each do |each_sum| %>
  <span class="each-sum"><%= each_sum %></span>
<% end %>