<div class="show-list" id="show-list">
  <div class="show-day centering">
    支出一覧
  </div>
  <% Date.new(@year, @month, 1).end_of_month.day.times do |i| %>
    <% if @each_day_spends[i].length != 0 %>
      <div class="show-box">
        <% @each_day_spends[i].each do |spend| %>
          <div class="show-info pointer">
            <span class="hidden select-category-id"><%= spend.category_id %></span>
            <div class="show-date centering">
              <%= spend.day.to_s %>
            </div>
            <div class="category-mark centering">
              <% if month_show %>
                <%= @select_categories.index(spend.category) %>
              <% else %>
                <%= @index %>
              <% end %>
            </div>
            <div class="show-spend centering">
              <%= spend.money %>円
            </div>
            <div class="show-memo">
              <%= spend.memo %>
            </div>
            <div class="show-id hidden">
              <%= spend.id %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>