<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      KaiKei
    </a>
  </div>
</div>
<div class="main">
  <div class="side-bar">
    <div class="contents-btns">
      <div class="contents-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'calendar.png', size: '50x50' %></span>
          <p>支出を入力</p>
        </a>
      </div>
      <div class="contents-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'category.png', size: '60x35' %></span>
          <p>カテゴリー</p>
        </a>
      </div>
      <div class="contents-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'fix.png', size: '48x57' %></span>
          <p>固定費</p>
        </a>
      </div>
    </div>
    <div class="user">
      <div class="setting">
        <a class="bottom-btn" href="#">
          <span><%= image_tag 'setting.png', size: '40x40' %></span>
        </a>
      </div>
      <div class="user-info">
        <a class="bottom-btn" href="#">
          <span><%= image_tag 'user.png', size: '40x40' %></span>
        </a>
      </div>
    </div>
  </div>
  <div class="contents">
    <div class="calendar">
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
    <div class="input-form">
      インプットフォーム
    </div>
  </div>
</div>