<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      KaiKei
    </a>
  </div>
  <div class="header-main">
    <div class="header-date">
      <div class="last-month"><a href="#">◀︎</a></div>
      <div class="current-month"><a class="display-month" href="#">2022年 4月</a></div>
      <div class="next-month"><a href="#">▶︎</a></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="side-bar">
    <div class="contents-btns">
      <div class="calendar-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'calendar.png', size: '50x50' %></span>
          <p>支出を入力</p>
        </a>
      </div>
      <div class="category-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'category.png', size: '60x40' %></span>
          <p>カテゴリー</p>
        </a>
      </div>
      <div class="fix-btn">
        <a class="side-btn" href="#">
          <span><%= image_tag 'fix.png', size: '50x60' %></span>
          <p>固定費</p>
        </a>
      </div>
    </div>
    <div class="user">
      <div class="setting">
        <a class="bottom-btn" href="#">
          <span><%= image_tag 'setting.png', size: '40x40' %></span>
        </a>
      </div>
      <div class="user-info">
        <a class="bottom-btn" href="#">
          <span><%= image_tag 'user.png', size: '40x40' %></span>
        </a>
      </div>
    </div>
  </div>
  <div class="contents">
    <h1>コンテンツ</h1>
  </div>
</div>