<div class="new-category" id="new-category">
  <div class="new-category-box-header">
    <p class="new-category-name" id="new-category-name">
      <%= form_text %>
    </p>
  </div>
  <%= render partial: "layouts/error_message", locals: { model: @category } %>
  <%= form_with url: "/years/#{@year}/months/#{@month}/categories", method: "POST", class: "new-category-box-footer", id: "post-category-form", local: true do |f| %>
    <div class="category-fields">
      <div class="title-field">
        <div class="label-field">
          <%= f.label :title, class: "label" %>
          <p class="must-mark centering">必須</p>
        </div>
        <%= f.text_field :title, class: "category-name-form", placeholder: "カテゴリ名を入力（10文字以内）", value: @category.title %>
      </div>
      <div class="color-field">
        <div class="label-field">
          <%= f.label :color_id, class: "label" %>
          <p class="must-mark centering">必須</p>
        </div>
        <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class: "category-color-form"}) %>
      </div>
    </div>
    <div class="category-input">
      <div class="category-input-btn" id="category-input-btn">
        <%= f.submit "#{submit_text}", class: "category-post-submit-btn", id: "post-category-submit" %>
      </div>
    </div>
  <% end %>
</div>