<%= render partial: 'layouts/header' %>
<div class="main">
  <%= render partial: 'layouts/side-bar' %>
  <div class="container">
    <div class="categories">
      <div class="category-month">
        <div class="category-arrow">◀︎</div>
        <%= @year %>年 <%= @month %>月
        <div class="category-arrow">▶︎</div>
      </div>
      <div class="category-spend-sum">
        合計出費額：<%= @sum %>円
      </div>
      <div class="category-list">
        <% @categories.each_with_index do |category, index| %>
          <div class="category-box">
            <div class="category-box-header">
              <div class="category-name">
                <%= category.title %>
              </div>
              <div class="category-btns">
                <div class="category-show category-btn">
                  <a class="btn" href="#">詳細</a>
                </div>
                <div class="category-delete category-btn">
                  <a class="btn" href="#">削除</a>
                </div>
              </div>
            </div>
            <div class="category-box-footer">
              <div class="category-bar" >
                <span class="percentage" style="display: none;"><%= @each_props[index] %></span>
                <span class="color-id" style="display: none;"><%= category.color_id %></span>
                <div class="category-money-sum">
                  <%= @each_sums[index] %>円
                </div>
              </div>
            </div>
            <div class="percentage-values">
              <p>0</p>
              <p>50</p>
              <p>100 (%)</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="new-category" id="new-category">
      <div class="new-category-box-header">
        <div class="new-category-name" id="new-category-name">
          新規カテゴリー
        </div>
      </div>
      <%= form_with  class: "new-category-box-footer", local: true do |f| %>
        <%= f.text_field :title, class: "category-name-form", id: "category-name-form", placeholder: "カテゴリ名を入力（10文字以内）" %>
        <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class: "category-color-form", id: "category-color-form"}) %>
        <div class="category-input">
          <div class="category-input-btn" id="category-input-btn">
            <%= f.submit "カテゴリーを追加する", class: "category-post-submit-btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="color-list" style="display: none;">
      <%= @colors.each do |color| %>
        <div class="color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>)</div>
        <div class="thin-color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>, 0.22)</div>
      <% end %>
    </div>
  </div>
</div>