<div class="main-contents categories">
  <% @categories.each_with_index do |category, index| %>
    <div class="category">
      <div class="category-box">
        <div class="category-box-header">
          <div class="category-title centering">
            <%= category.title %>
          </div>
          <div class="category-btns">
            <div class="category-show category-btn">
              <%= link_to "詳細", year_month_category_path(@year, @month, category.id), class: "btn centering" %>
            </div>
            <div class="category-delete category-btn hidden">
              <a class="btn centering pointer" id="category-delete-btn">削除</a>
            </div>
          </div>
        </div>
        <div class="category-box-footer">
          <div class="category-bar-border">
            <div class="category-bar" >
              <span class="percentage" style="display: none;"><%= @each_props[index] %></span>
              <span class="color-id" style="display: none;"><%= category.color_id %></span>
              <div class="category-money-sum">
                <%= @each_sums[index] %>円
              </div>
            </div>
          </div>
          <div class="percentage-values">
            <p>0</p>
            <p>50</p>
            <p>100 (%)</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="sub-contents">
  <%= render partial: "category-form", locals: { form_text: "新規カテゴリー", submit_text: "カテゴリーを追加する" } %>
  <div id="color-list" style="display: none;">
    <% @colors.each do |color| %>
      <div class="color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>)</div>
      <div class="thin-color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>, 0.22)</div>
    <% end %>
  </div>
</div>
