<div class="main-contents categories">
  <% @categories.each_with_index do |category, index| %>
    <%= render partial: "category-info", locals: { category_index: true, category: category, index: index } %>
  <% end %>
</div>
<div class="sub-contents">
  <%= render partial: "category-form", locals: { form_text: "新規カテゴリー", submit_text: "カテゴリーを追加する", edit_category: false } %>
  <div id="color-list" style="display: none;">
    <% @colors.each do |color| %>
      <div class="color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>)</div>
      <div class="thin-color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>, 0.22)</div>
    <% end %>
  </div>
</div>
