<div class="main-contents" style="padding-top: 2%;">
  <div class="category">
    <div class="category-box">
      <div class="category-box-header">
        <p id="current-category-id" class="hidden"><%= @category.id %></p>
        <div class="category-title centering" id="category-title">
          <%= @category.title %>
        </div>
        <div class="category-btns" id="category-btns">
          <div class="category-show category-btn">
            <p class="btn centering" id="category-edit-btn">編集</p>
          </div>
          <div class="category-delete category-btn">
            <a class="btn centering pointer" id="category-delete-btn">削除</a>
          </div>
        </div>
      </div>
      <div class="category-box-footer">
        <div class="category-bar-border">
          <div class="category-bar" id="category-bar" >
            <span class="percentage hidden" id="category-prop"><%= @each_props[@category.id-1] %></span>
            <span class="color-id hidden" id="color-id"><%= @category.color_id %></span>
            <div class="category-money-sum" id="category-sum">
              <%= @each_sums[@category.id-1] %>円
            </div>
          </div>
        </div>
        <div class="percentage-values">
          <p>0</p>
          <p>50</p>
          <p>100 (%)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="category-show-list">
    <div class="show-list" id="show-list" style="height: 96%;">
      <div class="show-day centering">
        支出一覧
      </div>
      <% Date.new(@year, @month, 1).end_of_month.day.times do |i| %>
        <% if @each_day_spends[i].length != 0 %>
          <div class="show-box">
            <% @each_day_spends[i].each do |spend| %>
              <% if spend.category_id == @category.id %>
                <div class="show-info pointer">
                  <div class="show-date centering">
                    <%= spend.day.to_s %>
                  </div>
                  <div class="category-mark centering">
                    <%= spend.category_id %>
                  </div>
                  <div class="show-spend centering">
                    <%= spend.money %>円
                  </div>
                  <div class="show-memo">
                    <%= spend.memo %>
                  </div>
                  <div class="show-id hidden">
                    <%= spend.id %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="destroy-message-box hidden" id="destroy-message-box">
      このカテゴリーを削除しますか？
      <div class="destroy-messages">
        <p class="destroy-message">カテゴリーを削除すると、このカテゴリーに紐付いたすべての支出情報が削除されます。</p>
        <p class="destroy-message">削除したくない支出がある場合、支出を編集して別のカテゴリーに設定しましょう。</p>
      </div>
      <div class="category-destroy-btns">
        <%= link_to "カテゴリーを削除する", year_month_category_path(@year, @month, @category.id), method: "delete", class: "category-destroy-btn centering" %>
        <%= link_to "キャンセル", year_month_category_path(@year, @month, @category.id), class: "destroy-cancel-btn centering" %>
      </div>
    </div>
  </div>
</div>
<div class="sub-contents" id="sub-contents">
  <div class="new-category hidden" id="new-category">
    <div class="new-category-box-header centering">
      <p class="new-category-name" id="new-category-name">
        カテゴリーを編集
      </p>
    </div>
    <%= form_with url: "/years/#{@year}/months/#{@month}/categories/#{params[:id]}", method: "PATCH", class: "new-category-box-footer", id: "post-category-form", local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "category-name-form", placeholder: "カテゴリ名を入力（10文字以内）" %>
      <%= f.label :color_id %>
      <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class: "category-color-form"}) %>
      <div class="category-input">
        <div class="category-input-btn" id="category-input-btn">
          <%= f.submit "カテゴリーを編集する", class: "category-post-submit-btn", id: "post-category-submit" %>
        </div>
      </div>
    <% end %>
    <div class="error-messages"><ul id="category-error-messages"></ul></div>
  </div>

  <div class="spend-input" id="spend-form">
    <%= form_with url: "/years/#{@year}/months/#{@month}/spends", class: "spend-input-form", id: "form" do |f| %>
      <p class="spend-form-text centering">支出を編集</p>
      <%= f.text_field :index, class: "hidden" %>
      <%= f.text_field :update_id, class: "hidden" %>
      <%= f.text_field :past_category_id, class: "hidden", value: "#{params[:id]}"%>
      <div class="day-form">
        <%= raw sprintf(
                  f.date_select(
                    :day,
                    use_month_numbers: true,
                    default: Date.today,
                    start_year: (Date.today.year - 50),
                    end_year: (Date.today.year + 10),
                    date_separator: '%s'),
                  "<p class='year'> 年 </p>", "<p class='month'> 月 </p>") + "<p class='day'> 日 </p>" %>
      </div>
      <%= f.text_field :money, class: "spend-money-input-form", placeholder: "支出金額を入力してください。" %>
      <%= f.collection_select(
        :category_id,
        @select_categories,
        :id, 
        :title, 
        {}, 
        {class: "spend-category-select"}) %>
      <%= f.text_area :memo, class: "spend-memo-form", row: "10" %>
      <div id="spend-show-btns" style="display: none;">
        <%= f.submit "支出を編集する", id: "spend-update-submit" %>
        <div id="spend-delete-btn" class="pointer">支出を削除する</div>
      </div>
    <% end %>
    <div class="error-messages"><ul id="spend-error-messages"></ul></div>
  </div>

  <div class="hidden">
    <% @select_categories.each do |category| %>
      <% if category.id != 0%>
        <span class="color-index"><%= category.color_id %></span>
        <span class="category-name"><%= category.title %></span>
      <% end %>
    <% end %>
  </div>
  <div id="color-list" style="display: none;">
    <% @colors.each do |color| %>
      <div class="color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>)</div>
      <div class="thin-color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>, 0.22)</div>
    <% end %>
  </div>
</div>