<div class="main-contents" style="padding-top: 2%;">
  <div class="category">
    <div class="category-box">
      <div class="category-box-header">
        <p id="current-category-id" class="hidden"><%= @category.id %></p>
        <div class="category-title centering" id="category-title">
          <%= @category.title %>
        </div>
        <div class="category-btns" id="category-btns">
          <div class="category-show category-btn">
            <p class="btn centering" id="category-edit-btn">編集</p>
          </div>
          <div class="category-delete category-btn">
            <a class="btn centering pointer" id="category-delete-btn">削除</a>
          </div>
        </div>
      </div>
      <div class="category-box-footer">
        <div class="category-bar-border">
          <div class="category-bar" id="category-bar" >
            <span class="percentage hidden" id="category-prop"><%= @each_props[@index-1] %></span>
            <span class="color-id hidden" id="color-id"><%= @category.color_id %></span>
            <div class="category-money-sum" id="category-sum">
              <%= @each_sums[@index-1] %>円
            </div>
          </div>
        </div>
        <div class="percentage-values">
          <p>0</p>
          <p>50</p>
          <p>100 (%)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="category-show-list">
    <%= render partial: "spends/show-list", locals: { month_show: false } %>
    <%= render partial: "destroy-messages" %>
  </div>
</div>
<div class="sub-contents" id="sub-contents">
  <div class="edit-category-contents" id="edit-category-contents" style="display: none;">
    <%= render partial: "category-form", locals: { form_text: "カテゴリーを編集", submit_text: "カテゴリーを編集する", edit_category: true } %>
  </div>
  <%= render partial: "spends/spend-form", locals: { edit_spend: true, form_text: "支出を編集" } %>
</div>

<div class="hidden">
  <% @select_categories.each do |category| %>
    <span class="color-index"><%= category.color_id %></span>
    <span class="category-name"><%= category.title %></span>
  <% end %>
</div>
<div id="color-list" style="display: none;">
  <% @colors.each do |color| %>
    <div class="color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>)</div>
    <div class="thin-color">(<%= color.rgb[0] %>, <%= color.rgb[1] %>, <%= color.rgb[2] %>, 0.22)</div>
  <% end %>
</div>