<div class="side-bar">
  <div class="contents-btns">
    <div class="contents-btn">
      <%= link_to spends_path, class: "side-btn" do %>
        <span><%= image_tag 'calendar.png', size: '50x50' %></span>
        支出を入力
      <% end %>
    </div>
    <div class="contents-btn">
      <%= link_to categories_path, class: "side-btn" do %>
        <span><%= image_tag 'category.png', size: '60x35' %></span>
        カテゴリー
      <% end %>
    </div>
    <div class="contents-btn">
      <a class="side-btn" href="#">
        <span><%= image_tag 'fix.png', size: '48x57' %></span>
        固定費
      </a>
    </div>
  </div>
  <div class="user-btns">
    <div class="user-btn">
      <a class="setting-btn" href="#">
        <span><%= image_tag 'setting.png', size: '40x40' %></span>
      </a>
    </div>
    <div class="user-btn">
      <span id="user-btn"><%= image_tag 'user.png', size: '40x40', id: "user-btn" %></span>
      <div class="user" id="user">
        <div class="user-info">
          <div class="info-box">
            <div class="info-name">
              nickname:
            </div>
            <div class="user-name">
              <%= current_user.nickname %>
            </div>
          </div>
          <div class="info-box">
            <div class="info-name">
              email:
            </div>
            <div class="user-email">
              <%= current_user.email %>
            </div>
          </div>
        </div>
        <div class="sign-out-btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-sign-out-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>